@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes pulse-custom {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2; /* Adjust this to control how much it fades out */
  }
}

.animate-pulse-custom {
  animation: pulse-custom 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

#particles canvas {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
  height: 100%;
  width: 100%;
}
